<div class="contact-container">
    <h2>Contact</h2>
    <div class="contact-details">
      <div class="contact-left">
        <h3>Get in Touch</h3>
        <p>If you have any questions or want to collaborate, feel free to reach out!</p>
      </div>
      <div class="contact-right">
        <h3>Connect with me:</h3>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/ivasapuram-charan-kumar/" target="_blank" class="social-link linkedin">
            <i class="fab fa-linkedin-in"></i> LinkedIn
          </a>
          <a href="https://github.com/CHERRY9642" target="_blank" class="social-link github">
            <i class="fab fa-github"></i> GitHub
          </a>
          <a href="mailto:i.charancherry9642@gmail.com" class="social-link email">
            <i class="fas fa-envelope"></i> Email
          </a>
          <a href="https://twitter.com" target="_blank" class="social-link twitter">
            <i class="fab fa-twitter"></i> Twitter
          </a>
          <a href="https://www.instagram.com" target="_blank" class="social-link instagram">
            <i class="fab fa-instagram"></i> Instagram
          </a>
          <a href="https://www.facebook.com" target="_blank" class="social-link facebook">
            <i class="fab fa-facebook-f"></i> Facebook
          </a>
        </div>
      </div>
    </div>
  </div>
  