/* You can add global styles to this file, and also import other style files */
.shared-background {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
              url('https://raw.githubusercontent.com/CHERRY9642/portfolio-angular/main/src/assets/images/background3.png') center/cover no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
