/* You can add global styles to this file, and also import other style files */
.about-container {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url('/assets/images/background3.png') center/cover no-repeat;
  color: #ffffff;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem 2rem 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 0;
}